@model PA.TOYOTA.DB.Role

@{
    ViewData["Title"] = "Edit";
}

<h1>Zmena záznamu</h1>

<h4>Rola</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">

           @* RoleId*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RoleId" />

            @*RoleName*@
            <div class="form-group">
                <label asp-for="RoleName" class="control-label"></label>
                <input asp-for="RoleName" class="form-control" readonly />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>

            @*Aktivny*@
            <div class="form-group">
                <label asp-for="Aktivny" class="control-label"></label>
                @Html.DropDownListFor(m => m.Aktivny, 
                    new List<SelectListItem>
                        { new SelectListItem{Text="Áno", Value="A"},
                          new SelectListItem{Text="Nie", Value="N"}}, "Vyberte možnosť")
                @*<select asp-for="Aktivny" class="form-control">
                    <option>A</option>
                    <option>N</option>
                  </select>  *@        
                <span asp-validation-for="Aktivny" class="text-danger"></span>
            </div>

            @*Vytvoril*@
            <div class="form-group mhinvisible" >
                <label asp-for="Vytvoril" class="control-label"></label>
                <input asp-for="Vytvoril" class="form-control" readonly />
                <span asp-validation-for="Vytvoril" class="text-danger"></span>
            </div>
            @*Vytvorene*@
            <div class="form-group" >
                <label asp-for="Vytvorene" class="control-label"></label>
                @*<input asp-for="Vytvorene" class="form-control" readonly />*@
                <input asp-for="Vytvorene" class="form-control"/>
                <span asp-validation-for="Vytvorene" class="text-danger"></span>
            </div>
            @*Zmenil*@
            <div class="form-group mhinvisible">
                <label asp-for="Zmenil" class="control-label"></label>
                <input asp-for="Zmenil" class="form-control" readonly />
                <span asp-validation-for="Zmenil" class="text-danger"></span>
            </div>
            @*Zmenene*@
            <div class="form-group" >
                <label asp-for="Zmenene" class="control-label"></label>
              @*  <input asp-for="Zmenene" class="form-control"  readonly/>*@
              <input asp-for="Zmenene" class="form-control"/>
                <span asp-validation-for="Zmenene" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Poznamka" class="control-label"></label>
                <input asp-for="Poznamka" class="form-control" />
                <span asp-validation-for="Poznamka" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Uložiť" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index">Návrat</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
