<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ToyotaArchiv</title>

      <!-- Font Awesome, icony-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
     <!-- Bootstrap core CSS, farby, mh pridane 20.04.2022; mdb.min.css obsahuje farby-->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
     <link rel="stylesheet" href="~/css/mdb.min.css">
     <!--  ---------------------------------------------  -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/ToyotaArchiv.styles.css" asp-append-version="true" />

    <!-- pre tabulky: jquery a css -->
    <link rel="stylesheet" href="https://code.jquery.com/jquery-3.5.1.js" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
   <!-- ---- -->

    <!--MH pridany css subor-->
    <link rel="stylesheet" href="~/css/mhstyle1.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styleToyota.css" asp-append-version="true" />
</head>

@*

pokazi menu
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

class="container-fluid" roztahuje obsah div na celu sirku displeja
class="container"  centruje obsah div na stred
*@

@using ToyotaArchiv.Infrastructure
@{
    string rola  = ToyotaArchiv.Global.AppData.CurrentUserDetail.UserRole;
    string login = ToyotaArchiv.Global.AppData.CurrentUserDetail.UserLogin;
}
<body>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm py-0 navbar-dark bg-dark box-shadow mb-1 shadow-sm ">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="ZakazkyJQ" asp-action="Index">
                    <img src="~/images/logo_toyota.png" height="50" align="left" alt="" class="d-inline-block ali gn-middle mr-2"> 
                </a>
                <a class="navbar-brand" asp-area="" asp-controller="ZakazkyJQ" asp-action="Index">
                    <span class="text-uppercase font-weight-bold align-self-center">Archív garančných opráv</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" >
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                          <a class="nav-link " asp-area="" asp-controller="ZakazkyJQ" asp-action="Index">Garančné opravy</a>
                        </li>
                       
                        @if (rola=="ADMIN" || rola=="VEDUCI")   @*Len pre roly: ADMIN, VEDUCI*@
                        {
                             <li class="nav-item">
                                <a class="nav-link " asp-area="" asp-controller="Accounts" asp-action="Index">Účty</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " asp-area="" asp-controller="Logs" asp-action="Index">Logy</a>
                            </li>
                             <li class="nav-item">
                                <a class="nav-link " asp-area="" asp-controller="Errors" asp-action="Index">Chyby</a>
                            </li>
                        }

                    </ul>
                    <span class="text-info"><b>@login&nbsp;|&nbsp;@rola&nbsp;&nbsp;@Html.ActionLink("Odhlásiť", "Logout", "Accounts")</b></span>
                </div>
            </div>
        </nav>
    </header>


  <div class="container-fluid">   @* MH zmena 20.04.2022   container-fluid  roztahuje na celu sirku displeja *@
       <main role="main" class="pb-2">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-dark py-0">
        <div class="container">
            &copy; 2022 - Archív garancných opráv @*<a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
        </div>
    </footer>

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - ToyotaArchiv - <a asp-area="" asp-controller="Home" asp-action="Privacy">Licencia</a>
        </div>
    </footer>*@
    <!--MH: musi to byt tu jquery.min.js-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
