<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ToyotaArchiv</title>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
     <!-- Bootstrap core CSS, farby, mh pridane 20.04.2022 -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/ToyotaArchiv.styles.css" asp-append-version="true" />

    <!--MH pridany css subor-->
    <link rel="stylesheet" href="~/css/mhstyle1.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styleToyota.css" asp-append-version="true" />
</head>

@*

pokazi menu
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

class="container-fluid" roztahuje obsah div na celu sirku displeja
class="container"  centruje obsah div na stred
*@
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm py-2 navbar-dark bg-dark box-shadow mb-3 shadow-sm ">
           
            

            <div class="container-fluid" style="width:95%">
                <a class="navbar-brand">
                    <img src="~/images/autolux_4.png" height="50" align="left" alt="" class="d-inline-block ali gn-middle mr-2"> 
                </a>
                <a class="navbar-brand">
                    <span class="text-uppercase font-weight-bold align-self-center">Archív garančných opráv</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" >

                </div>
                </div>
          
        </nav>
    </header>
    @*<div class="container">  MH zmena 20.04.2022*@
    <div class="container-fluid">
        <main role="main" class="pb-2">
            @RenderBody()
        </main>
    </div>

   <footer class="footer text-muted bg-dark py-2">
        <div class="container">
            &copy; 2022 - Archív garančných opráv, verzia: 1.05
        </div>
    </footer>

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - ToyotaArchiv - <a asp-area="" asp-controller="Home" asp-action="Privacy">Licencia</a>
        </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
