<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ToyotaArchiv</title>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
     <!-- Bootstrap core CSS, farby, mh pridane 20.04.2022 -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/ToyotaArchiv.styles.css" asp-append-version="true" />

    <!--MH pridany css subor-->
    <link rel="stylesheet" href="~/css/mhstyle1.css" asp-append-version="true" />
</head>

@*

pokazi menu
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

class="container-fluid" roztahuje obsah div na celu sirku displeja
class="container"  centruje obsah div na stred
*@

@using ToyotaArchiv.Infrastructure
@{
    string rola  = ToyotaArchiv.Global.AppData.CurrentUserDetail.UserRole;
    string login = ToyotaArchiv.Global.AppData.CurrentUserDetail.UserLogin;
}
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ToyotaArchiv</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        
                        <li class="nav-item">
                          <a class="nav-link text-dark" asp-area="" asp-controller="ZakazkyJQ" asp-action="Index">Garančné opravy</a>
                        </li>
                       
                        @if (rola=="ADMIN" || rola=="VEDUCI")   @*Len pre roly: ADMIN, VEDUCI*@
                        {
                             <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Accounts" asp-action="Index">Účty</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Logs" asp-action="Index">Logy</a>
                            </li>
                             <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Errors" asp-action="Index">Chyby</a>
                            </li>
                        }

                    </ul>
                    <span>login:@login&nbsp;|&nbsp;@rola&nbsp;@Html.ActionLink("Odhlásiť", "Logout", "Accounts")</span>
                </div>
            </div>
        </nav>
    </header>
    @*<div class="container">  MH zmena 20.04.2022  <a class="nav-link text-dark" asp-area="" asp-controller="Accounts" asp-action="Logout">Odhlásiť</a>*@
    <div class="container-fluid">
        <p> User role: @rola&nbsp;&nbsp;User login:@login</p>
       <main role="main" class="pb-2">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - ToyotaArchiv - <a asp-area="" asp-controller="Home" asp-action="Privacy">Licencia</a>
        </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
