@model PA.TOYOTA.DB.Account

@{
    ViewData["Title"] = "Nový účet";
}

<h4>Nový účet</h4>
<hr />
<div style="height:20px;">
    <p id="error" class="text-danger">@ViewBag.ErrorMessage</p>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" onkeydown="clearError()">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-inline">
                @*Ucet*@
                <label asp-for="LoginName" class="control-label"></label>
                <input asp-for="LoginName" class="form-control" style="margin-left:50px; margin-bottom:10px;" />
                <span asp-validation-for="LoginName" class="text-danger"></span>
            </div>
            <div class="form-inline">
                @*Heslo*@
                <label asp-for="LoginPassword" class="control-label"></label>
                <input asp-for="LoginPassword" class="form-control"  style="margin-left:42px; margin-bottom:10px;"/>
                <span asp-validation-for="LoginPassword" class="text-danger"></span>
            </div>
            <div class="form-inline">
                @*Rola*@
                 <label asp-for="LoginRola" class="control-label"></label>
                <select name="LoginRola" id="LoginRola" class="form-control"  style="margin-left:52px; margin-bottom:10px;">
                    <option value="">--Vyber rolu--</option>
                    <option value="ADMIN">ADMIN</option>
                    <option value="VEDUCI">VEDUCI</option>
                    <option value="SERVISNY_TECHNIK">SERVISNY_TECHNIK</option>
                    <option value="READONLY">READONLY</option>
                </select>
                <span asp-validation-for="LoginRola" class="text-danger"></span>
            </div>
            <div class="form-inline">
                @*Aktivny*@
                <label asp-for="Aktivny" class="control-label"></label>
                <input asp-for="Aktivny"  type="checkbox"  style="margin-left:30px; margin-bottom:10px;"/>

                @*Account.cs  MH: MUSI BYT  public bool Aktivny {get;set;}   !!!!!
                    @Html.DisplayNameFor(m=>m.Aktivny)
                    @Html.CheckBoxFor(m=>m.Aktivny)
                    <span asp-validation-for="Aktivny" class="text-danger"></span>*@
            </div>

            <div class="form-inline">
                @*DB login*@
                <label asp-for="DbLogin" class="control-label"></label>
                <input asp-for="DbLogin" class="form-control" style="margin-left:22px; margin-bottom:10px;"/>
                <span asp-validation-for="DbLogin" class="text-danger"></span>
            </div>

            <div class="form-inline">
                @*DB Heslo*@
                <label asp-for="DbPassword" class="control-label"></label>
                <input asp-for="DbPassword" class="form-control" style="margin-left:20px; margin-bottom:10px;" />
                <span asp-validation-for="DbPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Uložiť" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Návrat</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}

<script type="text/javascript">

    /*vymaze chybovy oznam */
    function clearError()
    {

         console.log("clearError vypis do console");
        var html =  document.getElementById("error").innerHTML;
        console.log("1clearError:" + html);
        html= document.getElementById("error").innerHTML="";
         console.log("2clearError:" + html);
        // @ViewBag.ErrorMessage="";
    }
</script>
}