@model PA.TOYOTA.DB.Zakazka

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Nova garancna oprava</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ZakazkaTg" class="control-label"></label>
                <input asp-for="ZakazkaTg" class="form-control" />
                <span asp-validation-for="ZakazkaTg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZakazkaTb" class="control-label"></label>
                <input asp-for="ZakazkaTb" class="form-control" />
                <span asp-validation-for="ZakazkaTb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CisloProtokolu" class="control-label"></label>
                <input asp-for="CisloProtokolu" class="form-control" />
                <span asp-validation-for="CisloProtokolu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cws" class="control-label"></label>
                <input asp-for="Cws" class="form-control" />
                <span asp-validation-for="Cws" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vin" class="control-label"></label>
                <input asp-for="Vin" class="form-control" />
                <span asp-validation-for="Vin" class="text-danger"></span>
            </div>

            @* <div class="form-group">
                <label asp-for="Platna" class="control-label"></label>
               <select asp-for="Platna" class="form-control">
                    <option>A</option>
                    <option>N</option>
                    <option>Vyberte možnosť</option>
                  </select> 
                <span asp-validation-for="Platna" class="text-danger"></span>
            </div>*@

            <div class="form-group">
                <label asp-for="Ukoncena" class="control-label"></label>
                 <select asp-for="Ukoncena" class="form-control">
                    <option>A</option>
                    <option>N</option>
                    <option>Vyberte možnosť</option>
                  </select> 
                <span asp-validation-for="Ukoncena" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Poznamka" class="control-label"></label>
                <input asp-for="Poznamka" class="form-control" />
                <span asp-validation-for="Poznamka" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Uložiť" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Návrat</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
