@model IEnumerable<PA.TOYOTA.DB.Zakazka>
@using ToyotaArchiv.Infrastructure;
@{
    ViewData["Title"] = "Garančné opravy"; /*zobrazi sa v titule stranky*/
}

@*Here we are importing the stylesheet of Datatable (Bootstrap4) that we had installed earlier.
    <link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />*@

@*
    <th>Platna</th>
    Visibility  <th>ZakazkaId</th>  je nastavena v scripte


    _Layout.cshtml
    <div class="container">
    <main role="main" class="pb-3">
    @RenderBody()
    </main>
    </div>

    20.04.2022
    dal som    <div class="container-fluid"  roztahuje na celu sirku displeja>
*@
<style>
    .neukoncenaZakazka {
        background: green;
        color: black;
    }

    
    table, table TD, table TH {
        font-family: sans-serif;
        font-size: 12pt;
        color: black;
    }

    /* MH 02.05.2022 nejde to!*/
    /*tfoot input {
        width: 150px;
        padding: 3px;
        box-sizing: border-box;
    }*/

</style>


<div class="container">
    <div class="d-flex p-0 justify-content-center">
        <h3 class="text-left d-inline mr-4">Zoznam garančných opráv</h3>
        <span class="d-inline ml-4 mt-2">
            @if (ViewBag.Role != "READONLY")
            {
                <a asp-action="NovaZakazka">Nová garančná oprava</a>
            }
        </span>
    </div>

    @*<hr/>
        <span>
        @if(ViewBag.Role != "READONLY")
        {
        <a asp-action="NovaZakazka" style="margin-left:50px;">Nová garančná oprava</a>
        }
        </span>*@

    @* pozri datatableZakazkyXX.js
        Po kliku na link ZakazkaTG  sa ide na Details/?zakazkaTg
        Pozri datatableZakazkyXX.js   ....return '<a  href="/ZakazkyJQ/Details/?zakazkaTg=' + $.trim(row['zakazkaTg']) + '">' + data + '</a>';

        <div class="teal accent-1 ">
    *@
    <div class="text-center" >
        <div>
            @if(ViewBag.Role == "ADMIN")
            {
                @ViewBag.ConnString;
            }
        </div>
        <div style="width:90%; "overflow-x:auto;">
            <table id="datatableZakazky" class="table table-hover   table-striped table-bordered dt-responsive nowrap" width="70%" cellspacing="0" >
                <thead class="tableHeaderColor">
                    <tr>
                        <th>ZakazkaId</th>
                        <th>Dátum</th>
                        <th>Zakazka Tg</th>
                        <th>Zakazka Tb</th>
                        <th>VIN</th>
                        <th>CWS</th>
                        <th>Číslo protokolu</th>
                        <th>Ukončená</th>
                        <th>Poznamka</th>

                        @if (ViewBag.Role == "ADMIN")
                        {
                            <th>Vytvoril</th>
                            <th>Zmenil</th>
                            <th>Zmenené</th>
                        }
                        @if (ViewBag.Role == "ADMIN" || ViewBag.Role == "VEDUCI")  @*Stlpec pre link Delete*@
                        {
                            <th></th>
                        }
                    </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                    <tr>
                        <th>ZakazkaId</th>
                        <th>Vytvorene</th>
                        <th>ZakazkaTg</th>
                        <th>ZakazkaTb</th>

                        <th>VIN</th>
                        <th>CWS</th>
                        <th>CisloProtokolu</th>
                        <th>Ukoncena</th>

                        <th>Poznamka</th>
                        @if (ViewBag.Role == "ADMIN")
                        {
                            <th>Vytvoril</th>
                            <th>Zmenil</th>
                            <th>Zmenené</th>
                        }
                        @if (ViewBag.Role == "ADMIN" || ViewBag.Role == "VEDUCI")  @*Stlpec pre link Delete*@
                        {
                            <th></th>
                        }
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

</div><!--//container-fluid-->
@section Scripts
{
    <!-- MH: 29.04.2022  jquery.dataTables.js musi byt prvy v poradi!!!-->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <!-- pre createdRow-->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <!-- MH musi tu byt: moment.min.js-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <!-- MH musi tu byt: datetime.js-->
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.21/dataRender/datetime.js"></script>
    <!-- pre nastavenie sirky stlpca-->
     <script type="text/javascript" src="https://cdn.datatables.net/fixedcolumns/4.0.2/js/dataTables.fixedColumns.min.js"></script>

    @if(ViewBag.Role=="ADMIN") @*ma link Vymazat a stlpce Vytvoril, Zmenil, Zmenene*@
    {
        <script src="~/js/datatableZakazkyAdmin.js"></script>
    }
    else if(ViewBag.Role=="VEDUCI" ) @*ma link Vymazat*@
    {
        <script src="~/js/datatableZakazkyVeduci.js"></script>
    }
    else @*nema link Vymazat*@
    {
        <script src="~/js/datatableZakazkyReadOnly.js"></script>
    }

    <script type="text/javascript" >
     //MH: po dlhom boji kde a kedy spustit tento script nakoniec nakoniec pomohol javascript CASOVAC
    var casovac;
    casovac = setTimeout("f1()", 500);
    function f1()
    {   
        //clearTimeout(casovac);
        //alert("f1-spustam MH script");
        var rows = document.getElementById("datatableZakazky").getElementsByTagName("tbody")[0].getElementsByTagName("tr");

        for (i = 0; i < rows.length; i++) {
            cells = rows[i].getElementsByTagName('td');
            //if (cells[6].innerHTML == 'N') {
            //    //rows[i].style.background = "#21CE2A";//svetlo zelena
            //    rows[i].style.background = "#FF9E9E";//odtien cervenej
            //}
            if (cells[6].innerHTML == 'A') {
                rows[i].style.background = "#21CE2A";//svetlo zelena
            }
        }
         casovac = setTimeout("f1()", 500);
    }

    </script>

}
