@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Vitajte v aplikácii: Toyota archív</h1>
    @*<p><a href="www.procaut.sk">PROCESNÁ AUTOMATIZÁCIA a.s. Košice</a></p>*@
     @*<p><a href="http://www.procaut.sk">PROCESNÁ AUTOMATIZÁCIA a.s. Košice</a></p>*@
</div>
