@{
    ViewData["Title"] = "Licencia";
}
<h1>@ViewData["Title"]</h1>

<p>&copy; PROCESNÁ AUTOMATIZÁCIA a.s. Košice, , apríl 2022</>
<p>Autor: RNDr. M.Hrabčák, ing. L.Vlček</>
<p>Aplikácia používa ASP.NET Core MVC a EF Core 6.0.3</p>

