/*
    MH: 09.04.2022
    testovacie styly
    POUZITIE:
    _Layout.cshtml
     <link rel="stylesheet" href="~/css/mhstyle1.css" asp-append-version="true" />
*/

/* element s touto class bude neviditelny a nebude zaberat miesto na formulari*/
.mhInvisible
{
    visibility:hidden;
    height:0px;
}

/*farba hlavicky pre table*/
.tableHeaderColor {
  
    background-color:#39C0ED;
}


#datatableZakazky {
    caption-side: top;
}